.egojx { 
  margin-top: 38px;
  margin-right: 76px;
  margin-bottom: 56px;
  border-right-width: 12px;
  margin-right: 0px;
  line-height: 99px;
  margin-bottom: 33px;
  margin-bottom: 38px;
  margin-right: 7px;
}
